.form-group {
	border-bottom:medium #1FA1A8 solid;	
	padding-bottom:15px;
}
.welcome_item_img{
	
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);	
}
/*danger-inline*/
.get_touch form button.danger-inline {
	background: #c9302c;
    color: #fff;
    margin-top:0px;
	top:10px;
}
.get_touch form button.danger-inline i {
	border-left: 1px solid #42B8C9;
}
.get_touch form button.danger-inline i:after {
	background: #0A8491;
}
.get_touch form button.danger-inline {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	padding: 9px 0;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	line-height: 30px;
	padding-left: 20px;
	border-radius: 3px;
	padding-right: 20px;
	font-size: 14px;
	border: none;
	outline: none;
	letter-spacing: .03em;
	transition: all .3s ease;
}
.get_touch form button.danger-inline i {
    padding-left: 15px;
    font-size: 1.25em;
    padding-right: 7px;
    vertical-align: middle;
    position: relative;
    margin-left: 20px;
    font-size: 16px;
    line-height: 28px;
    transition: all .3s ease;
}
.get_touch form button.danger-inline i:after {
	content: '';
	width:1px;
	height:100%;
	position: absolute;
	left: -2px;
	top: 0;
	transition: all .3s ease;
}
.get_touch form button.danger-inline:hover i {
	color: #ac2925;
	border-color: #282f39;
}
.get_touch form button.danger-inline:hover i:after {
	background: transparent;
}
.get_touch form button.danger-inline:hover {
	background: #ac2925;
	color: #BBBBBB;
}

/*info-inline*/
.get_touch form button.info-inline {
	background: #5bc0de;
    color: #fff;
    margin-top: 0px;
	top:10px;
}
.get_touch form button.info-inline i {
	border-left: 1px solid #42B8C9;
}
.get_touch form button.info-inline i:after {
	background: #0A8491;
}
.get_touch form button.info-inline {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	padding: 9px 0;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	line-height: 30px;
	padding-left: 20px;
	border-radius: 3px;
	padding-right: 20px;
	font-size: 14px;
	border: none;
	outline: none;
	letter-spacing: .03em;
	transition: all .3s ease;
}
.get_touch form button.info-inline i {
    padding-left: 15px;
    font-size: 1.25em;
    padding-right: 7px;
    vertical-align: middle;
    position: relative;
    margin-left: 20px;
    font-size: 16px;
    line-height: 28px;
    transition: all .3s ease;
}
.get_touch form button.info-inline i:after {
	content: '';
	width:1px;
	height:100%;
	position: absolute;
	left: -2px;
	top: 0;
	transition: all .3s ease;
}
.get_touch form button.info-inline:hover i {
	color: #ac2925;
	border-color: #282f39;
}
.get_touch form button.info-inline:hover i:after {
	background: transparent;
}
.get_touch form button.info-inline:hover {
	background: #31b0d5;
	color: #BBBBBB;
}
